body {
    background-color: #050505;
}

.container {
    background-color: #ffffff;
    border: 5px solid #797979;
    max-width: 600px;
}

h1 {
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 5px solid #aacdf1;
}